<div class="row">
  <div class="col-md-4"> 
  </div>
  <div class="col-md-3"> 
    <h4>Resend confirmation instructions</h4>
    <small><%= devise_error_messages! %></small>
  </div>
  <div class="col-md-4"> 
  </div>
</div>
<div class="row">
  <div class="col-md-4"> 
  </div>
  <div class="col-md-4 mid"> 
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control', autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
      <div class="form-group">
        <%= f.submit "Resend confirmation instructions", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
  <div class="col-md-4"> 
  </div>
</div
