<% if current_user %>
  <div class="like pull-left">
    <% if is_voted?(post) %>
      <div class="voted"><small><%= post.like %></small></div>
      <div class="voted"><%= link_to "", post_unlike_path(post), class: 'glyphicon glyphicon-thumbs-up', method: :post %></div>
    <% else %>
      <div class="not-voted"><small><%= post.like %></small></div>
      <div class="not-voted"><%= link_to "", post_like_path(post), class: 'glyphicon glyphicon-thumbs-up', method: :post %></div>
    <% end %>
  </div>
<% else %>
  <div class="like pull-left" onclick="alert('Please login')">
    <div class="not-voted"><small><%= post.like %></small></div>
    <div class="not-voted"><i class="glyphicon glyphicon-thumbs-up"></i></div>
  </div>
<% end %>