<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-6 top">
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-1">
  </div>
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-2">
    <div class="left short">
    </div>
  </div>
  <div class="col-md-6">
    <div class="mid short">
      <div>
        <div class="cat-header">
          <%= @category.description %>
        </div>
        <% @posts_page.each do |post| %>
          <div class="cat-post detail">
            <%= render partial: 'likes/like', locals: { post: post } %>
            <%= link_to (post.body.html_safe).truncate(180), category_post_path(@category, post) %><br />
            <small>
              <div class="time-post">posted <%= time_ago_in_words(post.created_at) %> ago by <span class="email"><%= post.user.email %></span></div>
              <div class="comment-count"><%= pluralize(post.comments.count, "comment") %></div>
            </small>
          </div>
        <% end %>
        <div class="bottom-align-div">
          <%= paginate @posts_page %><%= page_entries_info @posts_page %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="right short middiv">
      <%-# if is_admin? -%>
        <%= link_to "Edit Category", edit_category_path, class: 'btn btn-primary' %>
        <%= link_to "Delete Category", @category, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this category?' } %>
        <br />      
      <%#- end -%>
      <%-# if user_signed_in? -%>
        <br />
        <%= link_to "New Post", new_category_post_path(@category), class: 'btn btn-primary' %>
      <%-# end -%>
    </div>
  </div>
  <div class="col-md-1">
  </div>
</div>

