<div class="row">
  <div class="col-md-1 one">
  </div>
  <div class="col-md-2 two">
  </div>
  <div class="col-md-6 six top">
  </div>
  <div class="col-md-2 two">
  </div>
  <div class="col-md-1 one">
  </div>
</div>
<div class="row">
  <div class="col-md-1 one">
  </div>
  <div class="col-md-2 two">
    <div class="left short middiv">
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=webboard05-20&marketplace=amazon&region=US&placement=B01LJS65NC&asins=B01LJS65NC&linkId=403818d85d47bafa8b6ec02701693b30&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
      </iframe>
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=webboard05-20&marketplace=amazon&region=US&placement=B06XT7M6P5&asins=B06XT7M6P5&linkId=1d7cca0b3f98a842618f4389cd09557f&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
      </iframe>
      <a target="_blank"  href="https://www.amazon.com/gp/offer-listing/B00OQVZDJM/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00OQVZDJM&linkCode=am2&tag=webboard05-20&linkId=11f9d65faa9df0cd9781916bcb13c639"><img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&MarketPlace=US&ASIN=B00OQVZDJM&ServiceVersion=20070822&ID=AsinImage&WS=1&Format=_SL250_&tag=webboard05-20" ></a><img src="//ir-na.amazon-adsystem.com/e/ir?t=webboard05-20&l=am2&o=1&a=B00OQVZDJM" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    </div>
  </div>
  <div class="col-md-6 six">
    <div class="mid short">
      <div>
        <div class="cat-header">
          <%= @category.description %>
        </div>
        <% @posts_page.each do |post| %>
          <div class="cat-post detail">
            <%= render partial: 'likes/like', locals: { post: post } %>
            <%= link_to (post.body.html_safe).truncate(180), category_post_path(@category, post) %><br />
            <small>
              <div class="time-post">posted <%= time_ago_in_words(post.created_at) %> ago by <span class="email"><%= post.user.email %></span></div>
              <div class="comment-count"><%= pluralize(post.comments.count, "comment") %></div>
            </small>
          </div>
        <% end %>
        <div class="bottom-align-div">
          <%= paginate @posts_page %><%= page_entries_info @posts_page %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 two">
    <div class="right short middiv">
      <% if is_admin? %>
        <%= link_to "Edit Category", edit_category_path, class: 'btn btn-primary' %>
        <%= link_to "Delete Category", @category, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this category?' } %>
        <br />      
      <% end %>
      <% if user_signed_in? %>
        <br />
        <%= link_to "New Post", new_category_post_path(@category), class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="col-md-1 one">
  </div>
</div>
