<!DOCTYPE html>
<html>
  <head>
    <title>Web Board</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8705032718882317",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body>
    <div class="shrink">
      <div class="container menu">
        <ul class="nav nav-tabs">    
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Category", categories_path %></li>
          <li><%= link_to "Faq", home_faq_path %></li>
          <li><%= link_to "Contact", home_contact_path %></li>
          <div class="pull-right user-info">
          <% if user_signed_in? %>
            <% if current_user.standard? %>
              <span>standard user</span>  
            <% elsif current_user.seller? %>
              <span>seller</span>  
            <% elsif current_user.admin? %>
              <span>admin</span>  
            <% end %>
            <span>signed in as: </span> 
            <strong><%= current_user.email %></strong> |
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> - 
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %> -
            <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
          </div>
        </ul>
      </div> 
      
      <div class="row">
        <div class="col-md-3 three">
        </div>
        <div class="col-md-6 six"><small>
          <div id="show-flash">
          <% if flash[:notice] %>
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:notice] %>
            </div>
          <% elsif flash[:alert] %>
            <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:alert] %>
            </div>
          <% end %></small>
          </div>
          <script type="text/javascript">
              $(document).ready(function(){
              setTimeout(function(){
              $('#show-flash').remove();
            }, 4000);
           })
          </script>
        </div>
        <div class="col-md-3 three">
        </div>
      </div>
      
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
